doctype html
head
    title Hello, world
    script(src='/bower_components/requirejs/require.js', data-main='/public/js/main')
body
    p This is my horse. My horse is amazing
    p This is my second paragraph. I can eat my dog
