doctype html
head
    title Hello, world
    script(src='/bower_components/jquery/dist/jquery.js')
body
    p This is my horse. My horse is amazing
    p This is my second paragraph. I can eat my dog
    script(src='/public/js/main.js')
